# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.neon light.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProgram\neon light\.idea\.idea.neon light\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
